/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------- */
/* var color  */
:root {
    --primary-red:  #EF233C;
    --primary-blue: #2B2D42;
    --primary-gray: #d7dade;
    --primary-light-gray: #edf1f7;
    /* secondary colors */
    --secondary-red: #DA2073;
    --tertiary-red: #C41D31;
    --secondary-blue: #242537;
    --tertiary-blue: #14151E;
    --secondary-gray: #818C9F;
    --tertiary-gray: #747E8F;
    --secondary-light-gray: #CBCFD3;
    --tertiary-light-gray: #B7BABE;
    }

/* Body  */
    
body{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-self: center;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

/* Header  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-gray);
    color: var(--secondary-red);
    height: 4rem;
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--primary-light-gray);
}
.header .logo{
    margin-left: 2rem;

}
.header div{
    margin-right: 2rem;
    justify-content: center;
}

.form-search{
    display: flex;
}

.search-main{
    display: flex;
    width: 820px;
    height: 50px;
}

.search-main input{
    width: 100%;
    border-radius: .8rem;
    padding: 1rem;
}

.search-main button{
    width: 10rem;
    border-radius: .5rem;
    margin-left: .5rem;
}
/* Main  */

main {
    padding: 0 2rem;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

/* Aside left */

.about{
    margin: 1rem;
    padding: 1rem 1rem;
    height: 100vh;
    color: var(--primary-light-gray);
    font-size: 1.4rem;
    background-color:var(--secondary-blue);
    flex: 2;
    min-width: 14rem;
    border-radius: 1rem;
}
/* side bar*/

aside h2{
    color: var(--primary-red);
    cursor: pointer;
    font-size: 1.4rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--secondary-red);

}

/* section center  */

section {
    flex: 7;
    border-radius: 1rem;
}

.content{
    margin: 1rem;
    border: 1px solid var(--primary-gray);
}
.container.search{
    display: flex;
    margin: 2rem 1rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.search-result{
    width: 15rem;
    height: 20rem;
    background-color: #fff;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid var(--secondary-light-gray);
    border-radius: .8rem;
    background-color: var(--primary-light-gray);
}

.search-result h1{
    padding:1rem;
    color: var(--primary-blue);
    font-size: 2rem;
    line-height: 1.5;
}

.search-result h3{
    padding: 1rem;
    color: var(--secondary-red);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;
}

.search-result p{
    padding: .5rem;
    color: var(--secondary-red);
    font-size: 1.2rem;
    line-height: 1.5;
}

/* section center inicial  */
.inicial{
    width: 100%;
    height: 100%;
    background-color: var(--primary-light-gray);
    color: var(--primary-blue);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--secondary-light-gray);
}

.inicial strong{
    color: var(--secondary-red);
    font-size: 1.6rem;
}

.inicial h1{
    padding:1rem;
    color: var(--primary-blue);
    font-size: 3rem;
    line-height: 1.5;
}

.inicial img{
    /* width: 80vw; */
    height: 40vh;
}

.inicial p{
    padding: 1rem;
    color: var(--primary-blue);
    font-size: 1.2rem;
    line-height: 1.5;  
}

.funcionamento{
    display: flex;
}

.funcionamento-title{
    display:block;
    width: 100%;
    min-width: 18rem;
    font-size: 2rem;
}

.funcionamento-box{
    display: flex;
}

.inicial.box{
    margin: 1rem;
}

.inicial.box h1{
    font-size: 1.6rem;
}

/* aside right  */

.marketing{
    margin: 1rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    color: var(--primary-light-gray);
    font-size: 1.4rem;
    border: 1px solid var(--secondary-light-gray);
    background-color:#fff;
    flex: 2;
    min-width: 14rem;
    border-radius: 1rem;
}

.search-marketing{
    height: 15rem;
    background-color:var(--primary-light-gray);
    color: var(--primary-blue);
    padding: .5rem;
    margin: .5rem;
    border: 1px solid var(--secondary-light-gray);
    border-radius: .8rem;
}

.search-marketing img{ 
    width: 12rem;
}


/* Footer */
footer {
    background-color:var(--secondary-light-gray);
}


